<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../ticker_state.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://unpkg.com/topojson-client@3"></script>
<script src="../home_state.js"></script>
</head>
<body onload="read(false)">
  <div class="header">
    <a class="logo" href="/">
      <svg id="svglogo" height="70" width="70">
        <polygon points="10,0 60,0 60,40 10,40 10,0" style="fill:#ea07d7;stroke:white;stroke-width:5;"/>
        <polygon points="10,40 60,40 60,50 10,50" style="fill:#ea07d7;stroke:white;stroke-width:5;">
          <animateTransform attributeType="XML" attributeName="transform" type="translate" from="0 0" to="0 3" dur="0.2s" begin="0.2s" fill="freeze"/>
          <animateTransform attributeType="XML" attributeName="transform" type="translate" from="0 3" to="0 0" dur="0.1s" begin="0.5s" fill="freeze"/>
          <animateTransform attributeType="XML" attributeName="transform" type="translate" from="0 0" to="0 3" dur="0.2s" begin="0.7s" fill="freeze"/>
          <animateTransform attributeType="XML" attributeName="transform" type="translate" from="0 3" to="0 0" dur="0.1s" begin="1s" fill="freeze"/>
        </polygon>
        <circle cx="30" cy="10" r="5" style="fill:white;stroke:black;stroke-width:2;" />
        <circle cx="30" cy="10" r="2" style="fill:black;"/>
        <circle cx="40" cy="10" r="5" style="fill:white;stroke:black;stroke-width:2;" />
        <circle cx="40" cy="10" r="2" style="fill:black;" />
        <circle cx="30" cy="20" r="5" style="fill:white;stroke:black;stroke-width:2;" />
        <circle cx="30" cy="20" r="2" style="fill:black;" />
        <circle cx="40" cy="20" r="5" style="fill:white;stroke:black;stroke-width:2;" />
        <circle cx="40" cy="20" r="2" style="fill:black;" />
        <polygon points="45,40 50,30 55,40" style="fill:white;"/>
        <polygon points="15,40 20,30 25,40" style="fill:white;"/>
      </svg>
  </a>
  <a class="logo" href="/">
  <h1>spottedbot</h1>
  </a>
  <div class="header-right">    
  
  <div class="autocomplete">
    <input autocomplete="off" placeholder="server application of interest" id="myInput" oninput="myAutocomplete(this.value)">
    <span class="wantsLines"><input id="wantsLines" type="checkbox" name="wantsLines" value="false">botlines</span>
  </div>
    <div>  
      <a class="info" href="/info">about</a>
    </div>  
  </div>
<div class="row pink">

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

<div class="ticker-wrap">
<div id="myTicker" class="ticker">
</div>
</div>
</div>
</div>

</div>

<div class="row bot_container" id="bot_container">
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8" id="bot_display" onload="showTicker()">
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2"></div>
</div>
    <div id="lds-container" class="lds-container">
      <div class="lds-ripple"><div></div><div></div></div>
      <h2>sensors loading</h2>
    </div>
</body>
</html>
