<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../ticker_state.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://unpkg.com/topojson-client@3"></script>
<script src="../home_state.js"></script>
</head>
<body onload="read(false)">
  <div class="header">
    <a class="logo" href="/">
      <svg id="svglogo" height="70" width="70">
        <polygon points="10,0 60,0 60,40 10,40 10,0" style="fill:#ea07d7;stroke:white;stroke-width:5;"/>
        <polygon points="10,40 60,40 60,50 10,50" style="fill:#ea07d7;stroke:white;stroke-width:5;">
          <animateTransform attributeType="XML" attributeName="transform" type="translate" from="0 0" to="0 3" dur="0.2s" begin="0.2s" fill="freeze"/>
          <animateTransform attributeType="XML" attributeName="transform" type="translate" from="0 3" to="0 0" dur="0.1s" begin="0.5s" fill="freeze"/>
          <animateTransform attributeType="XML" attributeName="transform" type="translate" from="0 0" to="0 3" dur="0.2s" begin="0.7s" fill="freeze"/>
          <animateTransform attributeType="XML" attributeName="transform" type="translate" from="0 3" to="0 0" dur="0.1s" begin="1s" fill="freeze"/>
        </polygon>
        <circle cx="30" cy="10" r="5" style="fill:white;stroke:black;stroke-width:2;" />
        <circle cx="30" cy="10" r="2" style="fill:black;"/>
        <circle cx="40" cy="10" r="5" style="fill:white;stroke:black;stroke-width:2;" />
        <circle cx="40" cy="10" r="2" style="fill:black;" />
        <circle cx="30" cy="20" r="5" style="fill:white;stroke:black;stroke-width:2;" />
        <circle cx="30" cy="20" r="2" style="fill:black;" />
        <circle cx="40" cy="20" r="5" style="fill:white;stroke:black;stroke-width:2;" />
        <circle cx="40" cy="20" r="2" style="fill:black;" />
        <polygon points="45,40 50,30 55,40" style="fill:white;"/>
        <polygon points="15,40 20,30 25,40" style="fill:white;"/>
      </svg>
  </a>
  <a class="logo" href="/">
  <h1>spottedbot</h1>
  </a>
</div>
<div class="row pink">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 mx-auto text-center p-4">
      <ul class="info_page list-group">
        <li class="list-group-item"><h1>spottedbot</h1></li>
        <li class="list-group-item">spotted bot is a quick look at automated cyber threats in the cloud.</li>
        <li class="list-group-item">spottedbot only runs a few sensors, so our sample is not exactly comprehensive.</li>
        <li class="list-group-item">in spite of our limited scale, spotted bot is a quick look at some attack trends</li>
        <li class="list-group-item">spottedbot is quick,light-weight, javascript and does not need to load a console</li>
        <li class="list-group-item">spotted bot uses session information by protocol from sensors to derive threat information</li>
        <li class="list-group-item">search for threat information by application:</li>
        <li class="list-group-item">smb, http, mssql, mysql, pptp, sip, upnp, ssh, ftp, pptp, tftp, mqtt, mongodb</li>
        <li class="list-group-item">enable lines to connect bots with their targets with the "bot-lines" checkbox</li>
      </ul>
    </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
</div>
</body>
</html>
