body{
    background: transparent;
  background-image:
    radial-gradient(#f2f2f2 20%, transparent 0), 
    radial-gradient(#f2f2f2 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

/*
body{
  background-color:white;
  padding-bottom: 5rem;
}
*/
h1,h2,p {padding: 0 5%;}

/* --------- start ticker ---------------- */
* {
  box-sizing: border-box;
}

.info{
  font-size:1em;
  margin-top:60;
  background-color:#ea07d7;
  color:white;
}
a.info {
  color:white;
}

.info_page{
  margin-top:100;
}

#bot_display{
}

.myTicker{
  opacity:0;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  
  position: fixed;
  /*z-index:-1;*/
  top: 80;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(234, 7, 215, 0.25);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
  font-weight:700;
}


/* -------- end ticker ----------------*/

.wantsLines{
font-family: 'Roboto', sans-serif;
position:absolute;
top:12;
right:10;
width:60px;
height:45px;
color:white;
/*border: 1px solid #ea07d7;*/
background-color:#ea07d7;
}
.wantsLines input{
width:25px !important;
height:25px !importan;

}
#wantsLines{
height:20px;
}

.autocomplete > span {
}
/* -------------- loader ---------------- */

.lds-container{
  float:center;
  text-align:center;
  margin-top:30px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #7cea07;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


/* -------------- end loader -------------------- */
.header-center {
  font-family: 'Roboto', sans-serif;
  margin-top:10px;
  /*
  margin-left:auto;
  margin-right:auto;
  */
  height:70px;
  text-align:center;
  /*display:inline-block;*/
  
}

/* -------- autocomplete styling ---------------*/

.autocomplete {
  /*the container must be positioned relative:*/
  top: 0;
  position: relative;
  display: inline-block;
  color:white;
}
.autocomplete input {
  display: inline-block;
  text-align:center;
  width:20em;
  height:2.2em;
  border:none;
  border-bottom: 2px solid white;
  font-size: 1.5em;
  color:white;
  background-color:#ea07d7;
}
.autocomplete input[type=text] {
  width: 100%;
}
.autocomplete input::placeholder{
  color:white;
  opacity:.75;
}

.autocomplete input[type=submit] {
  color: #fff;
}
.autocomplete-items {
  color:#ea07d7;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 100;
  /*position the autocomplete items to be the same width as the container:*/
  top: 60;
  left: 0;
  right: 0;
  border-left:.9em solid transparent;
  border-right:.7em solid transparent;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #ea07d7; 
  color:white;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #ea07d7 !important; 
  color: white; 
}


/* end autocomplete styling */


.legend {
            padding: 5px;
            font: 10px sans-serif;
            background: yellow;
            box-shadow: 2px 2px 1px #888;
        }

.legend_svg{
  font-style: 'Roboto', sans-serif;
  font-size:1.5em;
  color:black;
  font-weight:900;
  opacity:1;
}

.bot_container{
  margin-top:120px;
}

#sensorType{
  border-radius:5px;
  text-decoration:none;
  background-color:transparent;
  font-size:1.5em;
  padding:5px;
  height: 3em;
  color:white;
  border:none;
    outline:0px !important;
  
  box-shadow:none;
}

#sensorType option:visited {
  color:white;
  background-color:black;
  border:none;
  outline:0px !important;
  box-shadow:none;
  text-decoration:none;
}

.form-control:focus{
  text-decoration:none;
    border-color: none;
    -webkit-box-shadow: none;
  outline:0px !important;
    box-shadow: none;
    border:none;
}

.dash_button{
  background-color: white;
  border-radius: 5px;
  color:black;
  height: 3em;
  width: 7em;
  margin:1em auto;
}


.header {
  z-index:10;
  width:100%;  
  height:2em;
  position:fixed;
  /*overflow:hidden;*/
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  margin-bottom:5em;
  top:0;
  background-color:#ea07d7;
  text-align:center;
  display:inline;
}

.header a {
   
  text-align: center;
  text-decoration: none;
}
.header a.logo {
  color: black;
  text-align: left;
  text-decoration: none;
  background-color:#ea07d7;
  float:left;
  color:white;
  display:inline-block;
}
.header a.logo h1{
  font-weight:900;

}
.pink{
  background-color:#ea07d7;
}
.header a:visited{
  ;
}
.logo {
  color:white;
  display:inline-block;
  bottom:0;
}

.header a:hover {
  
  text-decoration:none;
}

.header-right {
  float:right; 
  display:inline;
  color:white;
  font-family: 'Roboto', sans-serif;
}
.header-right > div {
  display:inline-block;
  height:20px;
  font-weight:500; 
  padding:11px;
  margin-bottom:16px;
  /*position:relative;*/
  text-align:center;
}
  
.header-right > div > button {
  background-color: transparent;
  color:white;
}
.header-right > div > button:hover {
  color:white;
  text-decoration:none;
}
.header-right > div > a{
  font-size:1.5em;
  font-weight:500;
}

.link{
  stroke-width:.5;
  stroke:orange;
}

#mercator{
/*fill:#f2f2f2;*/
fill:#d9d9d9;
stroke:white;
stroke-width:1;
}


.bots{
  stroke-width:2;
  opacity:.5;
}
.pots{
  stroke:black;
  stroke-width:1;
  fill:orange;
  height:10px;
  width:10px;
}

